@tailwind base;
@tailwind components;
@tailwind utilities;

.flex_bottom {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* lewis: donation form styling */
.donationForm label {
    display: inline-block;
    width: 100%;
}

/* lewis: rectangle radio button */
.rectangleRadioGrp {
    margin: 10px 0px;
    display: flex;

}
.rectangleRadioInput {
  opacity: 0;
  position: fixed;
  width: 0;
}

.rectangleRadioLabel {
  display: initial !important;
  background-color: #fff;
  padding: 5px 17px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 25px;
}

.rectangleRadioInput:checked + .rectangleRadioLabel {
  background-color: #000;
  border-color: #000;
  color: #fff;
}